header {
  z-index: 100000;
}

#about {
  z-index: 100000;
  position: relative;
}

#links-to-home {
  z-index: 100000;
  position: relative;
}

.map {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

#scrolly {
    position: relative;
    background-color: black;
}

article {
    position: relative;
    padding: 0;
    margin: 0;
}

figure {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: darkslategray;
    z-index: 0;
}

.about-section p {
    margin-bottom: 2rem;
}

.margin-40 {
    margin-bottom: 3rem;
}

.step {
    margin: 0 auto 2rem 1rem;
    max-width: 25rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}

.step p {
  margin: 0;
}

.step:last-child {
    margin-bottom: 0;
}

.step.is-active p {
    background-color: #64a19d;
    color: #222222;
}


.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #3b3b3b;
}

.step .other-paragraphs {
  background: rgba(0, 0, 0, 0.7);
}

.step .other-paragraphs p {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 1.1rem;
    text-align: left;
}

.down-button {
  font-size: 1.7rem;
  float: right;
  margin-top: -42px;
  margin-right: 10px;
}

.legend {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

.legend-content {
  background: rgba(0,0,0,0.7);
  color: #ddd;
  width: 250px;
  padding: 10px;
  transition: all 1s;
}

.legend p {
  padding-bottom: 8px;
  font-weight: bold;
}

.about-section.map-page {
  padding-top: 5rem;
}

.source {
  position: fixed;
  background: rgba(0,0,0,1);
  color: #ddd;
  bottom: 0;
  right: 0;
  z-index: 1000;
  padding: 8px;
  height: 40px;
  font-size: 1rem;
}

span.colorcube {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  display: inline-block;
}

span.legendline {
  width: 20px;
  height: 4px;
  margin-bottom: 5px;
  background: white;
  display: inline-block;
}

span.colorcube.yellow-border {
  border: 2px solid #f9e613;
}

.outer-photo-gallery-container {
  height: 140vh;
  position: relative;
  margin-bottom: 40vh;
  z-index: 10000;
    width: 120%;
    margin-left: -10%;
}

.outer-photo-container {
  height: 100vh;
  position: relative;
  margin-bottom: 0;
  z-index: 10000;
}

.inner-photo-gallery-container {
  position: sticky;
  background: rgba(0,0,0,0.7);
  padding-top: 2%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
}

.video-background {
  max-height: 80vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img-container-2 video {
  margin: auto;
}

.img-container-2 img {
  width: 100%;
}

.map-carousel-legend {
  padding: 6px 16px;
  background-color: black;
  color: white;
}

.map-carousel-legend.unconstrained {
  min-height: 15vh;
  height: auto;
}

.invisible {
  display: none;
}

#before, #after {
  font-size: 0.9rem;
  line-height: 0.9rem;
}

#after {
  text-align: right;
}

video.responsivevideo {
  width: 100%;
  height: auto;
}

img.responsiveimg {
  width: 100%;
  height: auto;
}

.carousel-item div p:first-child {
  padding: 0;
}

.image-caption {
  padding: 0px;
  padding-top: 20px;
}

.carousel-control-prev, .carousel-control-next {
  opacity: 1;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.mobile-hide {
  display: inline;
}

.mobile-only {
  display: none;
}


input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-moz-range-thumb {
  border: none;
}
.range-style {
  width: 90%;
  height: 45px;
  padding: 10px;
  background: #6f6f6f;
  border-radius: 8px;
  box-shadow: -2px -2px 8px #333, 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.range-style::-webkit-slider-runnable-track {
  display: flex;
  align-items: center;
  height: 20px;
  border-radius: 10px;
  box-shadow: inset -2px -2px 8px #333, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.range-style::-webkit-slider-thumb {
  position: relative;
  top: -50%;
  width: 40px;
  height: 40px;
  background-color: #6f6f6f;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.8), transparent);
  border-radius: 50%;
  box-shadow: -1px -1px 2px #333, 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.range-style::-moz-range-track {
  display: flex;
  align-items: center;
  height: 20px;
  border-radius: 10px;
  box-shadow: inset -2px -2px 8px #999, inset 2px 2px 8px rgba(0, 0, 0, 0.8);
}
.range-style::-moz-range-thumb {
  position: relative;
  top: -50%;
  width: 40px;
  height: 40px;
  background-color: #6f6f6f;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.8), transparent);
  border-radius: 50%;
  box-shadow: -1px -1px 2px #333, 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#swipe {
    display: block;
    margin: auto;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 7px;
}

.other-paragraphs.slider {
    padding-top: 10px;
}

@media screen and (max-width: 1000px) {
  video.responsivevideo {
    width: auto;
    height: 100%;
  }

  img.responsiveimg {
    width: auto;
    height: 100%;
  }
}



@media screen and (max-width: 600px) {
    
  .step {
    margin: auto;
    width: 85%;
    height: 1200px;
  }

  .step p {
    font-size: 1.2rem;
    padding: 0.6rem;
  }

  .step .other-paragraphs p {
    font-size: 0.9rem;
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 1rem;
  }

  .source {
    height: auto;
  }

  .source p {
    font-size: 0.8rem;
    background-color: rgba(0,0,0,1);
    margin-bottom: 0;
  }

  .legend-content {
    transform: translateX(110%);
    font-size: 0.8rem;
    background-color: rgba(0,0,0,1);
    width: auto;
    max-width: 210px;
  }

  .legend-title {
    margin: 0;
  }

  span.colorcube {
    width: 10px;
    height: 10px;
  }

  #articlecontainer {
    z-index: 10000;
    width: 85%;
    margin: auto;
    overflow: visible;
  }

  .mobile-hide {
    display: none;
  }

  .mobile-only {
    display: inline;
  }

  .mobile-only.minibutton {
    width: 40px;
    color: white;
    height: 40px;
    border: 2px solid white;
    font-size: 2rem;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #222;
    float: right;
    margin: 10px;
    cursor: pointer;
  }

  .mobile-only.miniminibutton {
    width: 35px;
    color: white;
    height: 35px;
    border: 2px solid white;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #222;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
  }
}
